<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innovest.dao.IDao">
	<select id="mysqlCheck" resultType="int">
		SELECT count(*) from admin
		where admin_id =#{use}
	</select>

	<select id="selectAllList" resultType="com.innovest.dto.MemberDto">
		SELECT * from admin
	</select>

	<delete id="deleteDatabase">
		DELETE FROM admin where cmd = #{cmd_num}
	</delete>

	<insert id="insertDatabaseByMap">
		INSERT INTO admin (admin_id, cmd, admin_pw) VALUES
		(#{id_bymap}, #{cmd_bymap} , #{pw_bymap})
	</insert>

	<insert id="insertDatabaseByObj">
		INSERT INTO admin
		(admin_id, cmd,
		admin_pw)
		VALUES (#{admin_id},#{cmd},#{admin_pw})
	</insert>

	<update id="updateDatabase">
		UPDATE admin set admin_id = {}, admin_pw = {} WHERE
		cmd = {}
	</update>



</mapper>

